#FrameWork web 
Falsk==3.1.2
#ORM
flask_SQLAlchemy== 3.1.1
#JWT JSON WEB TOKEN 
Flasf-JWT-Extended==4.7.1
#Validación y serializacion de datos 
Marshmallow==4.0.1
#Driver para conexion PY - MYSQL
PyMySQL == 1.1.1
#Para servidor WSGI
gunicorn ==23.0.0
#Contraseña
Werkzeug == 3.1.3